.product {
  padding: 44px 0 50px;
  &__btn {
    display: flex;
    align-items: center;
    column-gap: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    &-icon {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    }
  }
  &__content {
    margin-top: 30px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;
    &-img {
      width: 45%;
      border-radius: 10px 0 0 10px;
      height: 400px;
      object-fit: cover;
    }
  }
  &__info {
    width: 55%;
    padding: 38px 150px 28px 50px;
    &-title {
      font-weight: 700;
      font-size: 25px;
    }
    &-desc {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #CFCFCF;
      margin: 8px 0 30px;
    }
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
    &-buy {
      margin-top: 22px;
      display: flex;
      align-items: center;
      column-gap: 25px;
    }
  }
}